#testnet
RPC_URL_FUJI=
RPC_URL_ARBITRUM_SEPOLIA=

#mainnet
RPC_URL_BASE=
RPC_URL_ETHEREUM=

ETHERSCAN_API_KEY=

#Verifier url for eth
ETHERSCAN_MAINNET_VERIFIER_URL="https://api.etherscan.io/api"
ETHERSCAN_TESTNET_VERIFIER_URL="https://api-sepolia.etherscan.io/api"